.aside-container {
  text-align: left;
  /* padding-left: 7em; */
  padding-left: 5em;
  display: flex;
  flex-direction: column;
  margin-top: -2em;
  /* padding-top: -2em; */
  height: 100%;
  font-size: 1.25rem;
  justify-content: center;
  color: #e6f8ff;
  text-shadow: none;
}
p {
  font-size: 1rem;
  font-weight: bold;
}
.aside-content-container {
  display: flex;
  gap: 1rem;
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
}

#name {
  color: #127488;
  font-style: normal;
  font-size: 2.5rem;
  text-shadow: 2px 2px rgb(8, 27, 121);
}
#job-title {
  color: #033c57;
  font-size: 0.7rem;
  margin-top: -1.5rem;
  font-weight: bold;
  text-shadow: none;
  padding-bottom: 2rem;
}

.aside-content-container {
  margin-top: -1em;
  display: flex;
  flex-direction: column;
}

.hire-Link {
  width: 7rem;
  height: 2rem;
  letter-spacing: 0.1rem;
  border-radius: 50px;
  font-weight: bold;
  background-color: #e6f8ff;
  color: rgb(47, 62, 86);
  border: none;
}

.hire-Link:hover {
  transition: 0.5s all ease-out;
  color: rgb(244, 241, 241);
  background-color: #071048;
  cursor: pointer;
}
