.works-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(52, 29, 46, 0.7);
  width: 90%;
  max-height: 130%;
  gap: 0;
  margin: 0;
}

h2 {
  align-self: center;
  flex-grow: 0;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  border-bottom: 2px white solid;
  text-shadow: 1px 1px rgb(207, 66, 171);
  /* background: rgba(31, 12, 24, 0.8); */
  width: 90%;
  color: #ede7ee;
}

.worklist {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.work-item {
  align-self: flex-start;
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 97%;
  height: 100%;
  justify-content: center;
}

.work-title {
  font-size: 1.25rem;
  width: 45%;
  max-height: 40%;
  border-right: 2px solid rgb(202, 129, 202);
  padding: 0 0.5rem 0 0;
  margin: -1rem 0 0 0;
  text-align: left;
  color: rgb(230, 196, 222);
  font-weight: 500;
  text-shadow: none;
  border-bottom: 2px solid rgb(247, 246, 246);
}

.work-desc {
  padding: 0rem 1rem;
  margin: 1rem 0 0 0;
  flex-grow: 1;
  display: inline-flex;
  color: rgb(240, 241, 247);
  text-shadow: none;
  font-size: 0.7rem;
  width: 100%;
  height: 100%;
  text-align: justify;
  justify-self: center;
  align-self: center;
  justify-content: center;
  border-bottom: 2px solid rgb(247, 246, 246);
}

.tech-stack {
  font-size: 0.6rem;
  max-width: fit-content;
  /* background-color: white; */
  color: rgb(247, 242, 242);
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  width: 100%;
}

.tech-item {
  background: white;
  padding: 0.1rem 0.3rem;
  color: rgb(26, 3, 26);
  border-radius: 2rem;
}
