.App {
  box-sizing: border-box;
  letter-spacing: 2px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 0.35fr;
  text-align: center;
  /* gap: 0.1em; */
  height: 100svh;
  /* background: url(./assets/Download\ size\ \ \ 1920x1200.jpeg); */
  background: rgb(130, 166, 183);
  /* background: url(../src/assets/pexels-patricia-lazaro-424184.jpg); */
  background: url(../src/assets/pexels-finn-protzmann-2197889.jpg);
  /* background: linear-gradient(to right, #24335e, rgb(30, 136, 95)); */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: 20% 100%;
  text-shadow: 1px 1px rgb(3, 2, 2);

  /* height: 100vh; */
}

.App > * {
}
.Header {
  grid-column: 1/4;
  grid-row: 1/2;
  justify-content: center;
  background-color: transparent;
  padding: 0 2em;
  color: #e6f8ff;
}

.Aside {
  grid-column: 1/2;
  grid-row: 2/4;
  background-color: transparent;
  color: #e6f8ff;
}
.Content {
  grid-column: 2/4;
  grid-row: 2/4;
  /* background-color: orange; */
  background-color: transparent;
}

.Footer {
  grid-column: 1/4;
  grid-row: 4/5;
  background-color: rgba(50, 49, 49, 0.3);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .App {
    height: 110vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.35fr;
  }

  .Header {
    padding: 0em 0.5em;
    color: #e6f8ff;
  }

  .Aside {
    grid-column: 1/4;
    grid-row: 2/3;
    /* background: black; */
  }
  .Content {
    justify-self: center;
    grid-column: 1/4;
    grid-row: 3/5;
    max-width: 1rem;
    margin-bottom: 1rem;
  }
}
